version: "3.9"

services:
  backend:
    build: ./backend
    container_name: django-api
    ports:
      - "8000:8000"
    environment:
      - DEBUG=False
    networks:
      - devnet
    
  frontend:
    build: ./frontend
    container_name: vite-frontend
    ports:
      - "3000:80"
    environment:
      - API_URL=http://backend:8000
    depends_on:
      - backend
    networks:
      - devnet
networks:
  devnet: